ResultsGrabbing/src/META-INF/wsdl/localhost_8084/TennisUpdater/DataUpdate.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="checkUpdates" type="tns:checkUpdates" />

<xs:element name="checkUpdatesResponse" type="tns:checkUpdatesResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="checkUpdates">
<xs:sequence>
<xs:element name="lastDate" type="xs:string" minOccurs="0" />
<xs:element name="noOfRecords" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUpdatesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>